body{
   background: url(/image/background.jpg);
   background-size: cover;
   background-attachment: fixed;
}

.policia{
    width: 150px;
    height: 150px;
    background: url(/image/policia.png);
    background-size: contain;
    position: absolute;
    top: 1000px;
    left: 0;
    animation: moveCop 3s ease-in;
    animation-delay: 0.5s;
    animation-direction: alternate-reverse;
}

.ladrao{
    width: 72px;
    height: 72px;
    background: url(/image/ladrao.png);
    background-size: contain;
    position: absolute;
    top: 1030px;
    left: 110px;
    animation: moveNigga 3s ease-out;
    animation-delay: 0.5s;
    animation-direction: alternate-reverse;
}

@keyframes moveCop {
    0%{
        left: 0;
    }
      100%{
         left: 1600px; 
    }
}

@keyframes moveNigga{
    0%{
        left: 110px;
    }
       100%{
        left: 1600px;
    }
}